body {
    background-color: #000000;
    color: #FFFFFF;
}

#formulario {
    color: #FF0000;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding-top: 15%;
    font-size: 35px;
}
