html {
    background-color: #000000;
}

#formulario {
    color: #FF0000;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding-top: 15%;
    font-size: 35px;
}

#oculto {
    overflow-wrap: break-word;
    word-break: break-word;
}
