body {
    
    background-color: #000000
}

nav {
    font-family: times;
    font-size: 64px;
}

a {
    text-decoration: none;
}

#sobreposicao {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 50vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#sobreposto {
    background-color: #FFFFFF;
    padding: 30px;
    overflow-wrap: break-word;
    word-break: break-word;
}