html {
    background-color: #000000;
}

nav {
    font-family: times;
    font-size: 64px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#sobreposicao {
    position: absolute;
}

#sobreposto {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    overflow-wrap: break-word;
    word-break: break-word;
    color: #FFFFFF;
}