body {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

#vitrine {
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.cartao {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  width: 400px;
  padding: 10px;
  border: 4px double;
  text-align: justify;
  margin-right: 10px;
}

.cabecalho {
  border: solid;
  padding-left: 5px;
}

.conteudo {
  border-style: none solid solid;
  padding: 5px;
}