#vitrine {

    display: flex;
    flex-direction: line;
    align-items: top;
}

.cartao {
  background-color: #F0F0F0;
  width: 300px;
  padding: 10px;
  border: 4px double;
  text-align: justify;
  margin-right: 10px;
}

.cabecalho {
  border: solid;
  padding-left: 5px;
}

.conteudo {
  border-style: none solid solid;
  padding: 5px;
}