#vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cartao {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  width: 300px;
  padding: 10px;
  border: 4px double;
  text-align: justify;
  margin-right: 10px;
}

.cabecalho {
  border: solid;
  padding-left: 5px;
}

.conteudo {
  flex: 1;
  border-style: none solid solid;
  padding: 5px;
}