html {
    background-color: #000000;
    color: #FFFFFF;
    touch-action: none;
}

canvas {
    touch-action: none;
}

#jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabuleiro {
    background-color: #FFFFFF;
}

#pontuacao {
    font-size: 25px;
}